/* NAVIGATION */

#games-navigation{
	position: absolute;
	flex-direction: column;
	background: var(--navigation-bar-background);
	left: 0;
	top: 100%;
	text-align: center;
	box-sizing: border-box;
}

#dropdown-games:hover #games-navigation{
	display: flex;
}

/* SECTION: FEATURED */

#section-featured{
	background: #121212;
	width: 100%;
	height: calc(100% - var(--navigation-bar-height));
}

/* SECTION: GAMES */

#section-games{

}

#games-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-top: 32px;
}

.game-card{
	display: flex;
	flex-direction: column;
	width: 280px;
	margin: 8px;
	cursor: pointer;
}

.game-cover{
	width: 100%;
	height: 400px;
	border-radius: 3px;
}

.game-name{
	margin-top: 16px;
	font-weight: 700;
}

/* SECTION: NEWS */

#section-news{

}

#news-list{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	padding: 32px 0px;
}

.news-card{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 16px;
	padding: 32px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.12);
}

.new-date{
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 8px;
}

.new-header{
	font-weight: 600;
	margin-bottom: 8px;
}

.new-brief{
	margin-bottom: 8px;
}